<br>
<%= link_to 'New message', new_project_message_path %>
<br>
<% unless @messages.blank? %>
<% @messages.each do |message| %>
  <div id="message_disp" onclick= "window.location='/projects/<%= message.project.id %>/messages/<%= message.id %>'" >
    <div style="background:#237F06;float:left;padding:3px;margin-right:5px;color:#fff;font-weight:bold">
      <img src="/images/date.png" style="border:0;">
      <%= message.created_at.strftime("%d/%m/%Y") %>
    </div>
    <div>
    <div style="font-weight:bold">
      <%=h message.title %>
    </div>
    <%=h truncate(message.body,:length => 90) %>
    <div style="float:right">
      <%= link_to '<img src="/images/page_white_edit.png" style="border:0">', edit_project_message_path(@project,message) %>
      <%= link_to '<img src="/images/delete.png" style="border:0">', project_message_path(@project,message), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
</div>
<% end %>
<% else %>
  <div id= "noprojects"> No Messages. </div>
<% end %>

<br />

