<h1>Listing repositories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Repo name</th>
    <th>Path</th>
    <th>Description</th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
      <td><%= link_to repository.name, source_index_path(:repository_id => repository.id)  %></td>
    <td><%=h repository.repo_name %></td>
    <td><%=h repository.path %></td>
    <td><%=h repository.description %></td>
    <td><%= link_to 'Show', project_repository_path(@project,repository) %></td>
    <td><%= link_to 'Edit', edit_project_repository_path(@project,repository) %></td>
    <td><%= link_to 'Destroy', project_repository_path(@project,repository), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New repository', new_project_repository_path %>
