<br>
<%= link_to 'New repository', new_project_repository_path %>
<% unless @repositories.blank? %>
<% @repositories.each do |repository| %>
  <div id="repository">
    <div id="repository_heading">
      <img src="/images/icons/git.png" align="absMiddle"><%= link_to repository.name,source_index_path(:repository_id => repository.id) %>(<%= repository.repo_name %>) 
    </div>
    <%= truncate(repository.description,50) %> <br>
     git@urhost:
    <div style="float:right;">
      <img src="/images/icons/calendar.png" align="absMiddle"><%= repository.created_at.strftime("%d/%m/%Y") %> |
       <%= link_to 'Show', project_repository_path(@project,repository) %> |
       <%= link_to 'Edit', edit_project_repository_path(@project,repository) %> |
       <%= link_to 'Destroy', project_repository_path(@project,repository), :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
<% else %>
  <div id="noprojects"> No Repository </div>
<% end %>

<br />

