<div id="formbox">
<h1>New repository</h1>


<% form_for([@project,@repository]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 53, :class => "title" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 8, :cols => 60, :class => "body" %>
  </p>
  <br>
  <p>
  <%= f.submit 'Create' %> or <%= link_to 'Cancel', project_repositories_path %>
  </p>
<% end %>
</div>
