<div id="content">
    <div class="wrap" style="padding-left:10px;" >
        <h1>Listing gtds</h1>

        
        <% @gtds.each do |gtd| %>
            <% cls ="" %>
            <% puts gtd.priority %> 

                <% case gtd.priority 
                 when "normal" %>
                    <% cls = "id='Normal'" %>
                <% when "its ok" %>
                    <% cls = "id='Itsok'" %>
                <% when "important"  %>
                    <% cls = "id='important'" %>
                <% when "high"  %>
                    <% cls = "id='high'" %>
                <% else %>
                    <% cls ="id='Normal'" %>
                <% end %>
                <div <%= cls %> > 

                    <div id="date"><%=h gtd.due_on %></div>
                    <%=h gtd.name %>
                    <%=h gtd.description %>
                    <%=h gtd.priority %>
                    <%=h gtd.done %>
                    <%= link_to 'Show', gtd %>
                    <%= link_to 'Edit', edit_gtd_path(gtd) %>
                    <%= link_to 'Destroy', gtd, :confirm => 'Are you sure?', :method => :delete %>
                </div>
            <% end %>
        
        <br />
        <%= link_to 'New gtd', new_gtd_path %>
    </div>
</div>
