<div id="content" >

    <%= render :partial => "links" %>
<% unless @snippets.blank? %>
  <% @snippets.each do |snippet| %>
    <% unless snippet.view %>
        <div id="snippet_view">
          <div id="snippet_user"><img src="/images/user.png">  <%= snippet.user.login %></div>
          <div id="snippet_time"> <%= snippet.created_at.strftime("%d-%m-%y") %></div>
          <div id="spacer"></div>
          <%= snippet.id %>
          <%=h snippet.snippet %>
          <%=h snippet.view %>
          <%= link_to 'Show', snippet %>
        </div>  
     <% end #end of snippet view %>
  <% end #end of each block %> 
<% else %>
  <div style="background:#fff;padding:5px;margin:5px; border:1px solid #ccc"> No Snippets to display </div>
<% end %>

<br />

<%= link_to 'New snippet', new_snippet_path %>

</div>
