<div id="content">
    <script>
        function toggle_private(){
          alert("private");
        }
    </script>
    <%= render :partial => "links" %>
<% form_for(@snippet) do |f| %>
  <%= f.error_messages %>
  <div id="snippet_area" >
      <div id="private" >  
          <label> Private </label>
          <%= f.check_box "view" %>
      </div>
      <div id="textb">
          <%= f.text_area :snippet, :class => "pastebox" %>
      </div>
  </p>
  <p>
    <%= f.submit 'Create' %>
    </p>
</div>
<% end %>

<%= link_to 'Back', snippets_path %>
</div>
