<div id="content">
<h1>Editing key</h1>
<div id="formbox">
<% form_for(@key) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </p>
  <p>
    <%= f.label :git_name %><br />
    <%= f.text_field :git_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @key %> |
<%= link_to 'Back', keys_path %>
</div>
</div>
