<p>
  <b>Title:</b>
  <%=h @key.title %>
</p>

<p>
  <b>Value:</b>
  <%=h @key.value %>
</p>

<p>
  <b>Git name:</b>
  <%=h @key.git_name %>
</p>


<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>