<br>
<%= link_to 'New ticket', new_project_ticket_path %>
<br>
<br>
<% unless @tickets.blank? %>
<table class="tickets">
  <thead>
      <tr >
          <th> # </th>
    <th>Summary</th>
    <th>Description</th>
    <th>Assigne </th>
    <th>Status</th>
  </tr>
  <thead>
      <% @tickets.each do |ticket| %>
          <% clickable =" onclick='window.location.href=\"#{project_ticket_path(@project,ticket)}\"'" %>
    <tr>
        <td class="tickets" <%=clickable %> ><%= ticket.id %> </td>
        <td class="tickets" <%= clickable %>><%=h ticket.short_summary %></td>
        <td class="tickets" <%= clickable %>><%=h ticket.description %></td>
      <% unless ticket.user_id.blank? %>
        <td class="tickets" <%= clickable %>><%=h User.find(ticket.assigne).login.capitalize %></td>
      <% else %>
        <td class="tickets" <%= clickable %>><none> </td>
      <% end %>
        <td class="tickets" <%= clickable %>><%=h ticket.status %></td>
</tr>
<% end %>
</table>
<% else %>
  <div id="noprojects"> No Tickets </div>
<% end %>
<br />

