<h1>New ticket</h1>

<% form_for([@project,@ticket]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :short_summary %><br />
    <%= f.text_field :short_summary %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.select :priority, [["Highest","Highest"],["High","High"],["Normal","Normal"],["Low","Low"],["Lowest","Lowest"]],:selected => "Normal" %>
  </p>
  <p>
    <%= f.label :severity %><br />
    <%= f.text_field :severity %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', project_tickets_path %>
