<div id="content">
    <div class="wrap" style="padding-left:10px;" >
        <%= link_to 'New project', new_project_path %>
      <% unless @projects.nil? %>
        <p style="padding:4px;font-size:15px;font-weight:bold;"> Active Project(s) </p>
        <table >
            <% @projects.each do |project| %>
                <tr id="spacer">
                    <td>
                        <table id="project">
                            <tbody>
                                <tr id="highlight">
                                    <th id="title">
                                        <%= link_to "#{project.name}", project %> 
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <%= truncate(project.description,40) %>
                                        <%= link_to 'Edit', edit_project_path(project) %>
                                        <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            <% end %>
          </table>
        <% else %>
          <div id="noprojects">
            There are no projects. Be the first to create a new project.
          </div>
        <% end %>
        <br />
    </div>
</div>
