
<div id="content">

<div class="wrap" style="padding-left:10px;" >
                      <div id="projects">                      
                        <p> <%= @project.name %> </p>
                        <%= render :partial=> '/layouts/top_project_tab', :locals => {:selected => "overview" , :project_id => @project.id} %>
                      </div>
        Users in projects <br>
        <% for pipl in @people %>
            <%=h pipl.user.login %><a href="/projects/delete_user/<%= pipl.id %>">delete </a> <br>
        <% end %><br>
     <% form_tag "/projects/add_user" do  %>
         <%= hidden_field_tag "project_id" , @project.id %>
         Add 
        <select name="user_id" >
            <% for id in @users %>
                <% user = User.find(id) %>
                <option value=<%= user.id %>> <%= user.login %></option>
            <% end %>
        </select> to the project <%= submit_tag "add" %>
    <% end %>
    </div>
</div>
