
<div id="content">
  <div class="wrap" style="padding-left:10px;" >
    <div id="projects">                      
      <p> <%= @project.name %> </p>
      <%= render :partial=> '/layouts/top_project_tab', :locals => {:selected => "overview" , :project_id => @project.id} %>
    </div>
    <br> 
<div id="messagebox" >
   
  <% unless @messages.blank? %>
    <div id="overview_headings">
          Recent Messages
    </div>
    <% else %>
      <div id="noprojects">No Messages. </div>
  <% end %>
    <% for message in @messages %>
        <div id="msgDisp">
    <strong> <%= link_to message.title,project_messages_path(message) %></strong><br>
    <%= truncate(message.body, :length => 60) %>
      </div>
<% end %>
</div>

<div id="ticketbox">
  <% unless @tickets.blank? %>
    <div id="overview_headings">
        Recent Tickets
      </div>
    <% else %>
      <div id="noprojects">No tickets. </div>
  <% end %>
    <% for ticket in @tickets %>
        <div id="ticketDisp">
          <strong ><%= link_to ticket.short_summary, "/projects/#{ticket.project.id}/tickets/#{ticket.id}" %></strong><br>
            <%= truncate(ticket.description, :length => 60)%>
        </div>
    <% end %>
</div

</div>
</div>
