<div id="tab_menu">
    
    <div id="overview" class="menu_tab" >
      <img src="/images/icons/isotope.png" align="absMiddle"><a href="/projects/<%= project_id %>"  >Overview </a>
    </div>

    <div id="messages" class="menu_tab">
     <img src="/images/icons/comments.png" align="absMiddle"><a href="/projects/<%= project_id %>/messages" >Messages </a>
    </div>

    <div id="tickets" class="menu_tab">
      <img src="/images/icons/flag_red.png" align="absMiddle"><a href="/projects/<%= project_id%>/milestones">Milestones</a>
    </div>
    
    <div id="tickets" class="menu_tab">
      <img src="/images/icons/note.png" align="absMiddle"><a href="/projects/<%= project_id%>/tickets">Tickets </a>
    </div>
    
    <div id="repositories" class="menu_tab">
      <img src="/images/icons/folder_page.gif" align="absMiddle"><a href="/projects/<%= project_id %>/repositories"> Repositories </a>
    </div>


    <!--
    <div id="todo" class="menu_tab">
    <a href="/projects/<%# = project_id %>/todos" >Todos </a>
    </div>
    -->
    <div id="settings" class="menu_tab">
    <img src="/images/icons/wrench_orange.png" align="absMiddle"> <a href="/projects/settings/<%= project_id %>">Settings </a>
    </div>
  </div>
