<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <%= render :partial => "/layouts/html_head.erb" %>
    <body>
        <div id="container">
            <%= render :partial => "/layouts/header" %>

            <div id="wrapper">
                <%= render :partial=> '/layouts/top_project_tab', :locals => {:selected => "todo", :project_id => @project.id} %>
                <div id="content">
                    <div class="wrap" style="padding-left:10px;" >
                        <%= yield  %>
                    </div>
                </div>
            
                <%= render :partial => "layouts/sidebar_right" %>
            </div>
            <%= render :partial => "/layouts/spacer" %> 
        </div>
    </body>
</html>

